<head-data></head-data>
<div id="canvasContainer">
<canvas #myCanvas (click)="clickSender($event)" width="300" height="300"></canvas>
</div>
<!--кнопки-->
<div class="form-container">
  <form>
    <div id = "xPart" class="form-group">
      <label for="xCoordinate">Координата X</label>
      <p-multiSelect
        [options]="xOptions"
        [(ngModel)]="selectedX"
        ngModel
        [style]="{width: '30%'}"
        name="xCoordinate"
        id="xCoordinate"
      ></p-multiSelect>
    </div>
    <br>
    <div class="form-group" id="yCord">


      <label for="yCoordinate">Координата Y</label>
      <p-slider id="yCoordinate"
                [(ngModel)]="selectedY"
                name="coorName"
                [min]="-5"
                [max]="5"
                class="w-full"
                [ngModelOptions]="{standalone: true}"
      ></p-slider>
    </div>
    <br>
    <div class="form-group">
      <label for="radius">Радиус области</label>
      <p-multiSelect
        [options]="radiusOptions"
        [(ngModel)]="selectedRadius"
        ngModel
        name="radius"
        id="radius"
        [style]="{width: '30%'}"
        (onChange)="updateRadius()"
      ></p-multiSelect>
    </div>
    <br>
    <p-toast></p-toast>
    <div id = "buttons">
      <button pButton pRipple label="Отправить" class="p-button-success" (click)="submitForm();"></button>

      <button pButton pRipple label="Очистить все" class="p-button-success" (click)="clearAll();"></button>
      <button pButton id="logOut" type="submit" (click)="logOut()">Выйти</button>

    </div>
  </form>
</div>
<br><br><br>
<div id="results-table">
<p-table  [value]="results.reverse()" [scrollable]="true" scrollHeight="250px" [tableStyle]="{
  'width': '50%',
  'margin-left': 'auto',
  'margin-right': 'auto',
}" class="p-table"
  pStyleClass="pStyleClass"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="text-align: center;">x</th>
      <th style="text-align: center;">y</th>
      <th style="text-align: center;">R</th>
      <th style="text-align: center;">Дата</th>
      <th style="text-align: center;">Статус попадания</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-result>
    <tr>
      <td style="text-align: center;">{{result.x.toFixed(3)}}</td>
      <td style="text-align: center;">{{result.y.toFixed(3)}}</td>
      <td style="text-align: center;">{{result.r}}</td>
      <td style="text-align: center;">{{result.date | date: "HH:mm:ss"}}</td>
      <td style="text-align: center;">{{result.hit ? '✔' : '❌'}}</td>
    </tr>
  </ng-template>
</p-table>
</div>

