@media screen and (min-width: 1263px){

  .header-images{
    width: 71px;
    height: 71px;
  }
  #rightImages,#leftImages{
    display:flex;
    justify-content: end;
  }
  .header-info{
    font-size: 27px;
  }
}
