@media screen and (max-width: 642px){

.header-images{
  width: 40px;
  height: 40px;
}
  #rightImages,#leftImages{
    display:flex;
    justify-content: end;
  }
  .header-info{
    font-size: 20px;
  }
}
