@media screen and (min-width: 642px) and (max-width: 1263px){
  .header-images{
    width: 60px;
    height: 60px;
  }
  #rightImages,#leftImages{
    display:flex;
    justify-content: end;
  }
  .header-info{
    font-size: 25px;
  }

}
